body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header,
.one,
footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
}

header ul,
.one p {
    list-style-type: none;
    font-size: 18px;
}

header ul,
.one p,
footer {
    color: #E5E7EB;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.header-logo,
.call-to-action,
h1,
button {
    color: #F9FAF8;
}

.quote-text,
h2 {
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.call-to-action,
button {
    background-color: #3882F6;
}
